html{
    font-size: 62.5%;
}

body{
    font-family: PT serif;
    font-size:2rem;
    padding:0;
    margin:0 2vh 0 2vh;
    background-color: #9DD0F3;
}
/* Global */


/*header*/

header{
    background: #9DD0F3;
    color:#ffffff;
    height: 10vh;
    border-bottom:1px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:40px;
    
    


}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:2rem;
    letter-spacing: 2px;
    
}

header a:hover{
    color: black
}
header ul{
    margin: 0;
    padding: 0;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}


#showcase{
    min-height:20vh;
    background:url('../img/harli-marten-n7a2OJDSZns-unsplash.jpg');
    background-size: cover;
    color:#E0F0FC;
    display:flex;
    justify-content: flex-start;
    align-content: center;
}

#showcase h1{
    font-size:13rem;
}

#showcase p{
    font-size:5rem;
}

#How{
    display:flex;
    justify-content: center;

}

#boxes .container{
    display:flex;
    justify-content: center;
    justify-content: space-between;


}

#boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    align-content: center;
    background-color:#C0E0F7;
    border: 1px solid black;
    padding:15px;
   

   
}

#boxes .box img{
    width:100px;
  
}

.footer{
    display: flex;
    justify-content: center;
}


/* ABOUT SECTION */

.TheSquad{
    display:flex;
    justify-content: center;
}

#theboxSquad{
    display:flex;
    justify-content: space-between;

}

#theboxSquad .box{
    background-color: #E0F0FC ;
    display:flex;
    align-items: center;
    flex-direction: column;
    width:24%;
}

#theboxSquad .box img{
    width: 100px;
    border-radius: 20px;
}


@media (max-width:500px){


}